{% extends 'layout/base.jinja2' %}

{% block content %}
<h1>QABoard API Route</h1>
<hr>
<div class="accordion" id="qaboardAPI">
    <div class="accordion-item">
        <h2 class="accordion-header" id="headingGetQuestion">
            <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                data-bs-target="#collapseGetQuestion" aria-expanded="false" aria-controls="collapseGetQuestion">
                <span class="badge bg-success me-3">GET</span> <code>/api/qaboard/questions</code>
            </button>
        </h2>
        <div id="collapseGetQuestion" class="accordion-collapse collapse" aria-labelledby="headingOne"
            data-bs-parent="#qaboardAPI">
            <div class="accordion-body">
                <ul class="nav nav-tabs" role="tablist">
                    <li class="nav-item" role="presentation">
                        <a class="nav-link active" data-bs-toggle="tab" href="#gq200" aria-selected="true"
                            role="tab">200</a>
                    </li>
                    <li class="nav-item" role="presentation">
                        <a class="nav-link" data-bs-toggle="tab" href="#gq400" aria-selected="false" role="tab"
                            tabindex="-1">400</a>
                    </li>
                </ul>
                <div id="qaboardQuestion" class="tab-content">
                    <div class="tab-pane fade active show" id="gq200" role="tabpanel">
                        <p>Response 200</p>
                    </div>
                    <div class="tab-pane fade" id="gq400" role="tabpanel">
                        <p>Response 400</p>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="accordion-item">
        <h2 class="accordion-header" id="headingGetQuestionDetail">
            <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                data-bs-target="#collapseGetQuestionDetail" aria-expanded="false"
                aria-controls="collapseGetQuestionDetail">
                <span class="badge bg-success me-3">GET</span>
                <code>/api/qaboard/question/<span><</span>id<span>></span></code>
            </button>
        </h2>
        <div id="collapseGetQuestionDetail" class="accordion-collapse collapse" aria-labelledby="headingOne"
            data-bs-parent="#qaboardAPI">
            <div class="accordion-body">
                <ul class="nav nav-tabs" role="tablist">
                    <li class="nav-item" role="presentation">
                        <a class="nav-link active" data-bs-toggle="tab" href="#gqd200" aria-selected="true"
                            role="tab">200</a>
                    </li>
                    <li class="nav-item" role="presentation">
                        <a class="nav-link" data-bs-toggle="tab" href="#gqd400" aria-selected="false" role="tab"
                            tabindex="-1">400</a>
                    </li>
                </ul>
                <div id="qaboardQuestion" class="tab-content">
                    <div class="tab-pane fade active show" id="gqd200" role="tabpanel">
                        <p>Response 200</p>
                    </div>
                    <div class="tab-pane fade" id="gqd400" role="tabpanel">
                        <p>Response 400</p>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="accordion-item">
        <h2 class="accordion-header" id="headingPostQuestion">
            <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                data-bs-target="#collapsePostQuestion" aria-expanded="false" aria-controls="collapsePostQuestion">
                <span class="badge bg-warning me-3">POST</span> <code>/api/qaboard/questions</code>
            </button>
        </h2>
        <div id="collapsePostQuestion" class="accordion-collapse collapse" aria-labelledby="headingOne"
            data-bs-parent="#qaboardAPI">
            <div class="accordion-body">
                <ul class="nav nav-tabs" role="tablist">
                    <li class="nav-item" role="presentation">
                        <a class="nav-link active" data-bs-toggle="tab" href="#pq200" aria-selected="true"
                            role="tab">200</a>
                    </li>
                    <li class="nav-item" role="presentation">
                        <a class="nav-link" data-bs-toggle="tab" href="#pq400" aria-selected="false" role="tab"
                            tabindex="-1">400</a>
                    </li>
                </ul>
                <div id="qaboardQuestion" class="tab-content">
                    <div class="tab-pane fade active show" id="pq200" role="tabpanel">
                        <p>Response 200</p>
                    </div>
                    <div class="tab-pane fade" id="pq400" role="tabpanel">
                        <p>Response 400</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock content %}