{% extends 'layout/base.jinja2' %}

{% block content %}
<h1>Common API Route</h1>
<hr>
<div class="accordion" id="commonAPI">
    <div class="accordion-item">
        <h2 class="accordion-header" id="headingThumbnailUpload">
            <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                data-bs-target="#collapseThumbnailUpload" aria-expanded="false" aria-controls="collapseThumbnailUpload">
                <span class="btn btn-warning btn-sm me-3">POST</span>
                <code>/api/common/upload_thumbnail</code>
                <span class="ms-5">썸네일 업로드</span>
            </button>
        </h2>
        <div id="collapseThumbnailUpload" class="accordion-collapse collapse" aria-labelledby="headingOne"
            data-bs-parent="#commonAPI">
            <div class="accordion-body">
                <h5 class="text-info"># Request</h5>
                <table class="table">
                    <thead class="table-info">
                        <tr>
                            <th>메소드</th>
                            <th>엔드포인트</th>
                            <th>데이터타잎</th>
                            <th>파라미터</th>
                            <th>필수여부</th>
                            <th>설명</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td>POST</td>
                            <td><code>/api/common/upload_thumbnail</code></td>
                            <td><code>BODY: form-data [file_path]</code></td>
                            <td>file_name</td>
                            <td>필수</td>
                            <td>썸네일 파일을 업로드함.</td>
                        </tr>
                    </tbody>
                </table>
                <h5 class="text-success"># Response Success</h5>
                <table class="table">
                    <thead class="table-success">
                        <tr>
                            <th>응답코드</th>
                            <th>응답값</th>
                            <th>설명</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <th scope="row" class="text-success">200</th>
                            <td><code>{ url: “Uploads/{file_name}” }</code></td>
                            <td>성공적으로 업로드되었을 경우, 파일명 반환.</td>
                        </tr>
                    </tbody>
                </table>
                <h5 class="text-danger"># Response Error</h5>
                <table class="table">
                    <thead class="table-danger">
                        <tr>
                            <th>응답코드</th>
                            <th>응답값</th>
                            <th>설명</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <th scope="row" class="text-danger">412</th>
                            <td><code>{ message: “FormData Key값을 확인해 주세요” }</code></td>
                            <td>FormData에서 키 값을 찾을 수 없는 경우 오류 발생.</td>
                        </tr>
                        <tr>
                            <th scope="row" class="text-danger">412</th>
                            <td><code>{ message: "선택된 파일이 없습니다." }</code></td>
                            <td>업로드된 파일이 없을 경우 오류 발생.</td>
                        </tr>
                        <tr>
                            <th scope="row" class="text-danger">415</th>
                            <td><code>{ message: "파일만 업로드 가능합니다." }</code></td>
                            <td>파일이 지원하지 않는 형식일 경우 오류 발생.</td>
                        </tr>
                        <tr>
                            <th scope="row" class="text-danger">413</th>
                            <td><code>{ message: "파일 사이즈가 10MB를 초과했습니다." }</code></td>
                            <td>파일의 용량이 10MB보다 클 경우 오류 발생.</td>
                        </tr>
                        <tr>
                            <th scope="row" class="text-danger">400</th>
                            <td><code>{ message: "파일 업로드에 실패했습니다." }</code></td>
                            <td>파일 업로드 실패 시 오류 발생.</td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>

    <div class="accordion-item">
        <h2 class="accordion-header" id="headingImageUpload">
            <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                data-bs-target="#collapseImageUpload" aria-expanded="false" aria-controls="collapseImageUpload">
                <span class="btn btn-warning btn-sm me-3">POST</span>
                <code>/api/common/upload_image</code>
                <span class="ms-5">이미지 업로드</span>
            </button>
        </h2>
        <div id="collapseImageUpload" class="accordion-collapse collapse" aria-labelledby="headingOne"
            data-bs-parent="#commonAPI">
            <div class="accordion-body">
                <h5 class="text-info"># Request</h5>
                <table class="table">
                    <thead class="table-info">
                        <tr>
                            <th>메소드</th>
                            <th>엔드포인트</th>
                            <th>데이터타잎</th>
                            <th>파라미터</th>
                            <th>필수여부</th>
                            <th>설명</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td>POST</td>
                            <td><code>/api/common/upload_image</code></td>
                            <td><code>BODY: form-data [file_path]</code></td>
                            <td>file_name</td>
                            <td>필수</td>
                            <td>이미지 파일을 업로드함.</td>
                        </tr>
                    </tbody>
                </table>
                <h5 class="text-success"># Response Success</h5>
                <table class="table">
                    <thead class="table-success">
                        <tr>
                            <th>응답코드</th>
                            <th>응답값</th>
                            <th>설명</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <th scope="row" class="text-success">200</th>
                            <td><code>{ url: “Uploads/{file_name}” }</code></td>
                            <td>성공적으로 업로드되었을 경우, 파일명 반환.</td>
                        </tr>
                    </tbody>
                </table>
                <h5 class="text-danger"># Response Error</h5>
                <table class="table">
                    <thead class="table-danger">
                        <tr>
                            <th>응답코드</th>
                            <th>응답값</th>
                            <th>설명</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <th scope="row" class="text-danger">412</th>
                            <td><code>{ message: “FormData Key값을 확인해 주세요” }</code></td>
                            <td>FormData에서 키 값을 찾을 수 없는 경우 오류 발생.</td>
                        </tr>
                        <tr>
                            <th scope="row" class="text-danger">412</th>
                            <td><code>{ message: "선택된 파일이 없습니다." }</code></td>
                            <td>업로드된 파일이 없을 경우 오류 발생.</td>
                        </tr>
                        <tr>
                            <th scope="row" class="text-danger">415</th>
                            <td><code>{ message: "파일만 업로드 가능합니다." }</code></td>
                            <td>파일이 지원하지 않는 형식일 경우 오류 발생.</td>
                        </tr>
                        <tr>
                            <th scope="row" class="text-danger">413</th>
                            <td><code>{ message: "파일 사이즈가 10MB를 초과했습니다." }</code></td>
                            <td>파일의 용량이 10MB보다 클 경우 오류 발생.</td>
                        </tr>
                        <tr>
                            <th scope="row" class="text-danger">400</th>
                            <td><code>{ message: "파일 업로드에 실패했습니다." }</code></td>
                            <td>파일 업로드 실패 시 오류 발생.</td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>

    <div class="accordion-item">
        <h2 class="accordion-header" id="headingFileUpload">
            <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                data-bs-target="#collapseFileUpload" aria-expanded="false" aria-controls="collapseFileUpload">
                <span class="btn btn-warning btn-sm me-3">POST</span>
                <code>/api/common/upload_file</code>
                <span class="ms-5">파일 업로드</span>
            </button>
        </h2>
        <div id="collapseFileUpload" class="accordion-collapse collapse" aria-labelledby="headingOne"
            data-bs-parent="#commonAPI">
            <div class="accordion-body">
                <h5 class="text-info"># Request</h5>
                <table class="table">
                    <thead class="table-info">
                        <tr>
                            <th>메소드</th>
                            <th>엔드포인트</th>
                            <th>데이터타잎</th>
                            <th>파라미터</th>
                            <th>필수여부</th>
                            <th>설명</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td>POST</td>
                            <td><code>/api/common/upload_file</code></td>
                            <td><code>BODY: form-data [file_path]</code></td>
                            <td>file_name</td>
                            <td>필수</td>
                            <td>이미지 파일을 업로드함.</td>
                        </tr>
                    </tbody>
                </table>
                <h5 class="text-success"># Response Success</h5>
                <table class="table">
                    <thead class="table-success">
                        <tr>
                            <th>응답코드</th>
                            <th>응답값</th>
                            <th>설명</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <th scope="row" class="text-success">200</th>
                            <td><code>{ url: “Uploads/{file_name}” }</code></td>
                            <td>성공적으로 업로드되었을 경우, 파일명 반환.</td>
                        </tr>
                    </tbody>
                </table>
                <h5 class="text-danger"># Response Error</h5>
                <table class="table">
                    <thead class="table-danger">
                        <tr>
                            <th>응답코드</th>
                            <th>응답값</th>
                            <th>설명</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <th scope="row" class="text-danger">412</th>
                            <td><code>{ message: “FormData Key값을 확인해 주세요” }</code></td>
                            <td>FormData에서 키 값을 찾을 수 없는 경우 오류 발생.</td>
                        </tr>
                        <tr>
                            <th scope="row" class="text-danger">412</th>
                            <td><code>{ message: "선택된 파일이 없습니다." }</code></td>
                            <td>업로드된 파일이 없을 경우 오류 발생.</td>
                        </tr>
                        <tr>
                            <th scope="row" class="text-danger">415</th>
                            <td><code>{ message: "파일만 업로드 가능합니다." }</code></td>
                            <td>파일이 지원하지 않는 형식일 경우 오류 발생.</td>
                        </tr>
                        <tr>
                            <th scope="row" class="text-danger">413</th>
                            <td><code>{ message: "파일 사이즈가 10MB를 초과했습니다." }</code></td>
                            <td>파일의 용량이 10MB보다 클 경우 오류 발생.</td>
                        </tr>
                        <tr>
                            <th scope="row" class="text-danger">400</th>
                            <td><code>{ message: "파일 업로드에 실패했습니다." }</code></td>
                            <td>파일 업로드 실패 시 오류 발생.</td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>

    <div class="accordion-item">
        <h2 class="accordion-header" id="headingFileDelete">
            <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                data-bs-target="#collapseFileDelete" aria-expanded="false" aria-controls="collapseFileDelete">
                <span class="btn btn-danger btn-sm me-3">DELETE</span>
                <code>/api/common/delete_file</code>
                <span class="ms-5">파일 삭제</span>
            </button>
        </h2>
        <div id="collapseFileDelete" class="accordion-collapse collapse" aria-labelledby="headingOne"
            data-bs-parent="#commonAPI">
            <div class="accordion-body">
                <h5 class="text-info"># Request</h5>
                <table class="table">
                    <thead class="table-info">
                        <tr>
                            <th>메소드</th>
                            <th>엔드포인트</th>
                            <th>데이터타잎</th>
                            <th>파라미터</th>
                            <th>필수여부</th>
                            <th>설명</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td>DELETE</td>
                            <td><code>/api/common/delete_file</code></td>
                            <td><code>BODY: JSON [file_name]</code></td>
                            <td>file_name</td>
                            <td>필수</td>
                            <td>파일 또는 이미지를 삭제함.</td>
                        </tr>
                    </tbody>
                </table>
                <h5 class="text-success"># Response Success</h5>
                <table class="table">
                    <thead class="table-success">
                        <tr>
                            <th>응답코드</th>
                            <th>응답값</th>
                            <th>설명</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <th scope="row" class="text-success">200</th>
                            <td><code>{ message: “파일이 삭제 되었습니다.” }</code></td>
                            <td>성공적으로 삭제되었을 경우</td>
                        </tr>
                    </tbody>
                </table>
                <h5 class="text-danger"># Response Error</h5>
                <table class="table">
                    <thead class="table-danger">
                        <tr>
                            <th>응답코드</th>
                            <th>응답값</th>
                            <th>설명</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <th scope="row" class="text-danger">400</th>
                            <td><code>{ message: “파일 이름이 없습니다.” }</code></td>
                            <td>{file_name}에 빈값으로 전달 할 경우, 오류 발생.</td>
                        </tr>
                        <tr>
                            <th scope="row" class="text-danger">400</th>
                            <td><code>{ message: “파일이 존재하지 않습니다.” }</code></td>
                            <td>{file_nmae}에 없는 파일을 요청 할 경우, 오류 발생.</td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>
{% endblock content %}

{% block script %}
{% endblock script %}