{% extends 'layout/base_auth.jinja2' %}

{% block content %}
<div class="D2C">
    <h1 class="D2C">WISE IT: API Server</h1>
    <p class="D2C">Welcome to WISE IT API. This is the root of the API.</p>
    <p class="D2C text-danger">
        근데 여기는 어쩌다가 들어왔니? <br>
        니가 관리자라면 알아서 관리자 페이지로 이동하고, 아니라면 썩 꺼져!
    </p>
</div>
{% endblock content %}

{% block script %}
{% endblock script %}