<nav class="navbar fixed-top navbar-expand-lg bg-light" data-bs-theme="light">
    <div class="container-fluid">
        <a class="navbar-brand" href="{{ url_for('admin.admin_dashboard') }}">
            <img src="{{ url_for('static', filename='WISE_Color.png') }}" alt="Logo" height="24" width="24"
                class="d-inline-block align-text-top" />
            WISE IT: Dashboard
        </a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarColor01"
            aria-controls="navbarColor01" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarColor01">
            <ul class="navbar-nav me-auto">
                <li class="nav-item">
                    <a class="nav-link {% if request.path == '/admin/dashboard' %}active{% endif %}"
                        href="{{ url_for('admin.admin_dashboard') }}">HOME
                        <span class="visually-hidden">(current)</span>
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link {% if request.path.startswith('/admin/database') %}active{% endif %}"
                        href="{{ url_for('admin.admin_database') }}">Database</a>
                </li>
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown"
                        aria-expanded="false">
                        Testing
                    </a>
                    <ul class="dropdown-menu">
                        <li><a class="dropdown-item" href="#">Case: ..</a></li>
                    </ul>
                </li>
                <li class="nav-item dropdown">
                    <a class="nav-link {% if request.path.startswith('/admin/qaboard') %}active{% endif %} dropdown-toggle"
                        href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                        Board
                    </a>
                    <ul class="dropdown-menu">
                        <li><a class="dropdown-item {% if request.path.startswith('/admin/qaboard') %}active{% endif %}"
                                href="{{ url_for('qaboard.admin_qaboard_list') }}">QABoard</a></li>
                    </ul>
                </li>
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown"
                        aria-expanded="false">
                        SQooL
                    </a>
                    <ul class="dropdown-menu">
                        <li><a class="dropdown-item" href="#">Artist Database</a></li>
                    </ul>
                </li>
                <li class="nav-item dropdown">
                    <a class="nav-link {% if request.path.startswith('/admin/api_docs') %}active{% endif %} dropdown-toggle"
                        href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                        API Docs
                    </a>
                    <ul class="dropdown-menu">
                        <li><a class="dropdown-item {% if request.path == '/admin/api_docs/user' %}active{% endif %}"
                                href="{{ url_for('api_docs.api_docs_user') }}">User</a></li>
                        <div class="dropdown-divider"></div>
                        <li><a class="dropdown-item {% if request.path == '/admin/api_docs/qaboard' %}active{% endif %}"
                                href="{{ url_for('api_docs.api_docs_qaboard') }}">QABoard</a></li>
                        <div class="dropdown-divider"></div>
                        <li><a class="dropdown-item {% if request.path == '/admin/api_docs/sqool/artist' %}active{% endif %}"
                                href="{{ url_for('api_docs.api_docs_sqool_artist') }}">SQooL:
                                Artist</a></li>
                        <li><a class="dropdown-item {% if request.path == '/admin/api_docs/sqool/movie' %}active{% endif %}"
                                href="{{ url_for('api_docs.api_docs_sqool_movie') }}">SQooL:
                                Movie</a>
                        </li>
                        <div class="dropdown-divider"></div>
                        <li><a class="dropdown-item {% if request.path == '/admin/api_docs/common' %}active{% endif %}"
                                href="{{ url_for('api_docs.api_docs_common') }}">Common</a></li>
                    </ul>
                </li>
            </ul>
            <div class="d-flex me-sm-2">
                <a class="btn btn-danger btn-sm" href="{{ url_for('admin.admin_logout') }}">로그아웃</a>
            </div>
        </div>
    </div>
</nav>