{% extends 'layout/base.jinja2' %}

{% block style %}
<link rel="stylesheet" href="https://uicdn.toast.com/editor/latest/toastui-editor.min.css" />
<style>
    .toastui-editor-contents {
        font-size: 1rem;
    }

    .toastui-editor-contents h1,
    h2,
    h3,
    h4,
    h5,
    h6 {
        margin-top: 10px;
    }
</style>
{% endblock style %}

{% block content %}
<h1>Article Modify</h1>
<hr>
<form method="POST" action="{{ url_for('article.admin_article_modify', article_id=article.id) }}"
    enctype="multipart/form-data">
    <div class="mb-3">
        <label for="title" class="form-label">제목</label>
        <input type="text" class="form-control" id="title" name="title" value="{{ article.title }}" required>
    </div>
    <div class="mb-3">
        <label for="category" class="form-label">카테고리</label>
        <select class="form-select" id="category" name="category" required>
            <option value="{{ article.category }}" selected hidden>{{ article.category }}</option>
            <option>공지사항</option>
            <option>최신이슈</option>
            <option>개발 팁</option>
        </select>
    </div>
    <div class="mb-3">
        {% if article.thumbnail %}
        <div class="card">
            <img src="{{ article.thumbnail }}" class="card-img" alt="Thumbnail">
        </div>
        <hr>
        <div class="d-grid">
            <button type="button" class="btn btn-danger"
                onclick="if(confirm('삭제하시겠습니까?')) { location.href = '{{ url_for('article.admin_article_thumbnail_delete', article_id = article.id) }}'; }">썸네일
                삭제</button>
        </div>
        {% else %}
        <label for="thumbnail" class="form-label">썸네일</label>
        <input class="form-control" type="file" id="thumbnail" name="thumbnail">
        {% endif %}
    </div>
    <div class="mb-3">
        <label for="content" class="form-label">내용</label>
        <div id="content" name="content"></div>
    </div>
    <div class="mb-3">
        <label for="content" class="form-label">태그</label>
        <input type="text" class="form-control" id="tags" name="tags" value="{{ article.tags }}"
            placeholder="쉼표(,)로 구분">
    </div>
    <div class="mb-3">
        <label for="status" class="form-label">공개 여부</label>
        <select class="form-select" id="status" name="status" required>
            <option value="{{ article.status }}" selected hidden>{{ article.status }}</option>
            <option>공개</option>
            <option>작성중</option>
            <option>비공개</option>
        </select>
    </div>
    <hr>
    <div class="d-grid">
        <button type="submit" class="btn btn-primary">수정</button>
    </div>
</form>
<hr>
<form>
    <div class="card">
        <div class="card-header">
            댓글 목록
        </div>
        <ul class="list-group list-group-flush">
            {% if not article.comments %}
            <li class="list-group-item">
                등록된 댓글이 없습니다.
            </li>
            {% else %}

            {% for comment in comments %}
            {% if not comment.parent_id %}
            <li class="list-group-item">
                <div class="row">
                    <div class="col">
                        <span class="badge text-bg-dark">{{ comment.status }}</span> {{ comment.content }}
                        {% for reply in comment.replies %}
                        <div class="ms-2">└ <span class="badge text-bg-dark">{{ reply.status }}</span> {{ reply.content
                            }} - {{ reply.created_at }}</div>
                        {% endfor %}
                    </div>
                    <div class="col-auto">{{ comment.created_at }}</div>
                </div>
            </li>
            {% endif %}
            {% endfor %}
            {% endif %}
        </ul>
    </div>
</form>
{% endblock content %}

{% block script %}
<script src="https://uicdn.toast.com/editor/latest/toastui-editor-all.min.js"></script>
<script src="https://uicdn.toast.com/editor/latest/i18n/ko-kr.js"></script>
<script>
    const editor = new toastui.Editor({
        el: document.querySelector('#content'),
        language: 'ko-KR',
        height: '500px',
        initialEditType: 'wysiwyg',
        previewStyle: 'vertical',
        usageStatistics: false,
        hideModeSwitch: false,
        initialValue: `{{ article.content | safe }}`,
        hooks: {
            addImageBlobHook: function (blob, callback) {
                const formData = new FormData();
                formData.append('image', blob);

                fetch('/api/common/upload_image', {
                    method: 'POST',
                    body: formData
                }).then(response => response.json())
                    .then(data => {
                        callback(data.url, 'alt text');
                    })
                    .catch(error => {
                        console.error("오류: ", error);
                    });

                return false;
            }
        }
    });

    document.querySelector('form').addEventListener('submit', function (e) {
        e.preventDefault();

        // 에디터 내용 가져오기
        const editorContent = editor.getHTML();

        // hidden input 생성 및 폼에 추가
        const hiddenInput = document.createElement('input');
        hiddenInput.type = 'hidden';
        hiddenInput.name = 'content';
        hiddenInput.value = editorContent;
        this.appendChild(hiddenInput);

        // 폼 제출
        this.submit();
    });
</script>
{% endblock script %}