{% extends 'layout/base.jinja2' %}

{% block style %}
{% endblock style %}

{% block content %}
<h1>Article List</h1>
<hr>
<div class="d-grid">
    <a class="btn btn-primary" href="{{ url_for('article.admin_article_create') }}">새 글 작성</a>
</div>
<hr>
<div class="card">
    <div class="card-header">
        아티클 목록
    </div>
    <ul class="list-group list-group-flush">
        {% for article in article_list.items %}
        <li class="list-group-item">
            <div class="row">
                <div class="col">{{ article.category }}: <a
                        href="{{ url_for('article.admin_article_modify', article_id=article.id) }}">{{ article.title
                        }}</a> [{{ article.comments|length }}]</div>
                <div class="col-auto">{{ article.created_at }}</div>
            </div>
        </li>
        {% endfor %}
    </ul>
</div>

<!-- 페이징처리 시작 -->
<ul class="pagination pagination-sm justify-content-center mt-3">
    <!-- 이전페이지 -->
    {% if article_list.has_prev %}
    <li class="page-item">
        <a class="page-link" href="?page={{ article_list.prev_num }}">이전</a>
    </li>
    {% else %}
    <li class="page-item disabled">
        <a class="page-link" tabindex="-1" aria-disabled="true" href="javascript:void(0)">이전</a>
    </li>
    {% endif %}
    <!-- 페이지번호 -->
    {% for page_num in article_list.iter_pages() %}
    {% if page_num %}
    {% if page_num != article_list.page %}
    <li class="page-item">
        <a class="page-link" href="?page={{ page_num }}">{{ page_num }}</a>
    </li>
    {% else %}
    <li class="page-item active" aria-current="page">
        <a class="page-link" href="javascript:void(0)">{{ page_num }}</a>
    </li>
    {% endif %}
    {% else %}
    <li class="disabled">
        <a class="page-link" href="javascript:void(0)">...</a>
    </li>
    {% endif %}
    {% endfor %}
    <!-- 다음페이지 -->
    {% if article_list.has_next %}
    <li class="page-item">
        <a class="page-link" href="?page={{ article_list.next_num }}">다음</a>
    </li>
    {% else %}
    <li class="page-item disabled">
        <a class="page-link" tabindex="-1" aria-disabled="true" href="javascript:void(0)">다음</a>
    </li>
    {% endif %}
</ul>
<!-- 페이징처리 끝 -->
{% endblock %}

{% block script %}
{% endblock script %}