{% extends 'layout/base.jinja2' %}

{% block style %}
{% endblock style %}


{% block content %}
<h1>QABoard</h1>
<hr>
<div class="d-grid gap-3">
    <a href="{{ url_for('qa_board.admin_qaboard_create') }}" class="btn btn-primary">질문 등록</a>
</div>
<hr>

{% if not board_list %}
<p>등록된 게시글이 없습니다.</p>
{% endif %}

<div class="card">
    <div class="card-header">
        Q&A 목록
    </div>
    <ul class="list-group list-group-flush">
        {% for list in board_list.items %}
        <li class="list-group-item">
            <div class="row">
                <div class="col">
                    <a href="{{ url_for('qa_board.admin_qaboard_detail', question_id = list.id) }}"
                        class="text-decoration-none">{{
                        list.title }}</a>
                </div>
                <div class="col-auto">{{ list.created_at }}</div>
            </div>
        </li>
        {% endfor %}
    </ul>
</div>

<!-- 페이징처리 시작 -->
<ul class="pagination pagination-sm justify-content-center mt-3">
    <!-- 이전페이지 -->
    {% if board_list.has_prev %}
    <li class="page-item">
        <a class="page-link" href="?page={{ board_list.prev_num }}">이전</a>
    </li>
    {% else %}
    <li class="page-item disabled">
        <a class="page-link" tabindex="-1" aria-disabled="true" href="javascript:void(0)">이전</a>
    </li>
    {% endif %}
    <!-- 페이지번호 -->
    {% for page_num in board_list.iter_pages() %}
    {% if page_num %}
    {% if page_num != board_list.page %}
    <li class="page-item">
        <a class="page-link" href="?page={{ page_num }}">{{ page_num }}</a>
    </li>
    {% else %}
    <li class="page-item active" aria-current="page">
        <a class="page-link" href="javascript:void(0)">{{ page_num }}</a>
    </li>
    {% endif %}
    {% else %}
    <li class="disabled">
        <a class="page-link" href="javascript:void(0)">...</a>
    </li>
    {% endif %}
    {% endfor %}
    <!-- 다음페이지 -->
    {% if board_list.has_next %}
    <li class="page-item">
        <a class="page-link" href="?page={{ board_list.next_num }}">다음</a>
    </li>
    {% else %}
    <li class="page-item disabled">
        <a class="page-link" tabindex="-1" aria-disabled="true" href="javascript:void(0)">다음</a>
    </li>
    {% endif %}
</ul>
<!-- 페이징처리 끝 -->
{% endblock %}


{% block script %}
{% endblock script %}