{% extends 'layout/base.jinja2' %}

{% block style %}
{% endblock style %}


{% block content %}
<h1>QABoard</h1>
<hr>
<div class="d-grid gap-3">
    <a href="{{ url_for('qa_board.admin_qaboard_create') }}" class="btn btn-primary">질문 등록</a>
</div>
<hr>

{% if board_list|length == 0 %}
<p>등록된 게시글이 없습니다.</p>
{% endif %}

<div class="card">
    <div class="card-header">
        Q&A 목록
    </div>
    <ul class="list-group list-group-flush">
        {% for list in board_list %}
        <li class="list-group-item">
            <div class="row">
                <div class="col">
                    <a href="{{ url_for('qa_board.admin_qaboard_detail', question_id = list.id) }}"
                        class="text-decoration-none">{{
                        list.title }}</a>
                </div>
                <div class="col-auto">{{ list.created_at }}</div>
            </div>
        </li>
        {% endfor %}
    </ul>
</div>
{% endblock %}


{% block script %}
{% endblock script %}